
body {
    background-image: url('/public/imagenes/videoframe_15960.png'); /* Cambia 'tu-imagen.jpg' por el nombre de tu archivo */
    background-size: cover; /* Ajusta el tamaño para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
